body {
  overflow-x: hidden;
}

.home,
.about,
.contact {
  margin-left: 2rem;
}

.nav {
  background-color: grey;
  padding: 1rem 2rem;
}

.footer {
  color: white;
  background-color: grey;
  padding: 1rem 2rem;
  position: absolute;
  width: 100vw;
  bottom: 0;
}
